/* .textc {
  color: blue;
  font-size: 2rem;
}

#texti {
  color: red;
}

p {
  color: gray;
} */

.circle {
  border-radius: 50%;
  border: 1px solid black;
  /* position: fixed; */
  width: 5rem;
  height: 5rem;
}

.inter {
  color: blue;
  font-size: 2rem;
}

#d1,
#d2,
#d3,
#d4 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
